<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File Tutorial</title>
</head>
<body>

<div class="container col-sm-12" id="choose-files" oncopy="return false" oncut="return false" onpaste="return false">
  <div class="row">
    <br>
    <br>
    <form action="/uploadfile" method="post" enctype="multipart/form-data">
           <b>Instrumento Formato XLS</b> 
           <br>
           <br>
           <input style="width:800" type="file" name="instrumento" id="instrumento"/>
           <br>
           <br>
           <input class="btn btn-primary" type="submit" style="border-radius: 4px;" name="cashbackfiles" value="Cargar">
       </form>

       <br>

     
  </div>
</div>

</body>
</html>