<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Listado de Test</title>
 
 
    <link href="http://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li role="presentation" class="nav-item"><a class="nav-link" href="#">Home</a>
                    </li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="/showSignUp">Registro</a>
                    </li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="/showLogin">Ingresar</a>
                    </li>
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="/showLogin">Test Mantenimiento</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Instrumentos de Diagnostico</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Mantenimiento de Instrumentos</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Crear Instrumento</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-xl-10">
                <a href="/magAmbito?test='Evaluacion del nivel de proteccion sobre los datos personales (nivel1)'"><h4>Evaluacion del nivel de proteccion sobre los datos personales (nivel1)</h4></a>
                <p>Este instrumento permite determinar el nivel que posee la organización en la proteccion de los datos personales </p>
 
                <a href="/"><h4>Evaluar el nivel de madurez de los procesos (metodo Michael Hammer)</h4></a>
                <p>Este instrumento permite evaluar el nivel de madurez para la mejora de los procesos en su organizacion.</p>
 
               
            </div>
 
            
        </div>
 
        <footer class="footer">
            <p>&copy; Tuwe 2015</p>
        </footer>
 
    </div>
</body>
 
</html>